@import '_variables';
@import 'global';
@import 'header';
@import 'admin';

.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}

.form-row {
  margin-top: 12px;
}

.card {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.button {
  padding: 5px;
  width: 34px;
  height: 34px;
  background: var(--surface-ground);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
